/* .col-2 {
  padding: 0%;
}
.col-3 {
  padding: 0%;
}
.col-7 {
  padding: 0%;
}
.fondo{
  background-repeat: no-repeat;
  background-image: url("../images/Fondo.png");
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
} */

body{
  background-color: antiquewhite;
  background-size: cover;
  background-repeat: no-repeat;


} 

titulotienda{
  font-family: Franklin Gothic Medium;
  
}

.texto{
  font-family: 'Courier New', Courier, monospace;
}

#titulotienda{
  font: 40px Tahoma, Arial, Verdana, sans-serif;

}



/* tienda */
#FondoTienda{
	color: rgb(255, 145, 0); 
  background-size:cover;
  background-repeat: no-repeat;
  /* background-size: 330px 356px; */
  width: 1;

}

#Div1{
  background:url('../images/');
  background-size:cover;
  background-repeat: no-repeat;

}


#btnTieda{
  width: 1px 20px;
  font: 700 1em Tahoma, Arial, Verdana, sans-serif;
	color: rgb(255, 145, 0); background-color: #59B0E5;
	border: 1px solid #0074a5;
	border-top: 1px solid #004370;
	border-left: 1px solid #004370;
}
/* 
#inventario{
  
} */